
.myBtn{
    background-color: #ffffff;
    color: #091341;
    text-align: center;
    display: block;
    border: 2px solid #091341;
    border-radius: 12px;
    width:100%;
    padding: 10px;
    margin-bottom: 10px;
    outline: none;
}
.myBtn span{
    display: inline-block;
    text-align: center;
    width: 146px;
}
.myBtn:hover{
    background-color: #091341;
    color: white;
    text-decoration: none;
    font-weight: 900;
    outline:none;
}
.buzz{
    text-decoration: none;
    padding: 15px 0;
    outline: none;
}
.buzz:hover{
    color: white;
     text-decoration: none;
}