body{
    background: #EFEEEC;
}

.navbarLogout{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background: white;
    z-index: 999;
}
.bannerItem{
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    display: flex;
    justify-content: space-around;
}
.carouselBanner{
    margin: 5px;
    border-radius:10px;
}

section{
    flex-basis: 542px;
}