/*.label{*/
/*    display: block;*/
/*    padding: 10px 0;*/
/*}*/
/*.buzzForm{*/
/*    border: 2px solid grey;*/
/*}*/
/*.buzzContent{*/
/*    display: block;*/
/*}*/

/*.btn{*/
/*    display: block;*/
/*}*/
/*.fromWrapper{*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/

.fa-pencil:before{
    margin: 10px;
}
.header{
    display: flex;
    justify-content: space-between;
}
.card-header{
    display: flex;
    justify-content: space-between;
}
input[type=file]{
    display: none;
}
.fa-upload{
    padding: 10px;
    color: #4631ff;
}
.myBtn1{
    outline: none;
    padding: 0px;
    margin: 10px;
}
