
.fa-pencil:before{
    margin: 10px;
}
.header{
    display: flex;
    justify-content: space-between;
}
.card-header{
    display: flex;
    justify-content: space-between;
}
input[type=file]{
    display: none;
}
.fa-upload{
    padding: 10px;
    color: #091341;
    cursor: pointer;
}
.fa-thumbs-up{
    color:#091341;
    cursor: pointer;
}
.fa-thumbs-down{
    color: #091341;
    cursor: pointer;
}
.myBtn1{
    outline: none;
    padding: 0px;
    margin: 10px;
}
.form-component{
    margin: 25px;
    cursor: pointer;
}
.form-label{
    background:#B6B4B0;
    padding:10px;
    color:black;
    font-weight:400;
    border-radius:5px;
    text-align: center;
    cursor: pointer;
}
.reactions{
    font-size:18px;
}
.thumpsicon{
    margin-left: 10px;
    margin-right: 10px;
}
.liketext{
    padding-left: 5px;
}

.profile{
    display: flex;
}
.form-row{
    margin-left: 0px;
    margin-right: 0px;
}